<h1>Edit pet</h1>

<%#= render "pets/form", pet: @pet %>

<%= simple_form_for @pet do |f| %>
    <%= f.input :species, label: "species" %>
    <%= f.input :name, label: "name" %>
    <%= f.input :address, label: "address" %>
    <%= f.input :description, label: "description" %>
    <%= f.input :mark, label: "mark" %>
    <%= f.input :found, label: "found" %>
  <%= f.button :submit %>
<% end %>